{% ckan_extends %}

{% macro license_string(pkg) %}
  {% if 'license_url' in pkg %}
    <a href="{{ pkg.license_url }}" rel="dc:rights">{{ pkg.license_title }}</a>
  {% else %}
    <span property="dc:rights">{{ pkg.license_title }}</span>
  {% endif %}
{% endmacro %}

{% block resource_actions_inner %}
  {{ super() }}
  {% if res.datastore_active %}
  {% set site_url_list = g.site_url.split('//') %}
    <li>
      <a class="btn btn-warning resource-url-analytics resource-type-{{ res.resource_type }}" href="https://opend.data.go.th/playground/{{site_url_list[1]}}/ckan/{{res.id}}">
      <i class="fa fa-bar-chart"></i> Visualization
      </a>
    </li>
  {% endif %}
{% endblock %}

{% block secondary_content %}
  {% block resources_list %}
    {% snippet "package/snippets/resources.html", pkg=pkg, active=res.id %}
  {% endblock %}

  <section class="module module-narrow module-shallow license">
    {% block license_title %}
      <h2 class="module-heading"><i class="fa fa-lock"></i> {{ _('License') }}</h2>
    {% endblock %}
    {% block license_content %}
      <p class="module-content">
        {% block license_content_inner %}
          {{ license_string(pkg) }}
          {% if pkg.isopen %}
            <a href="http://opendefinition.org/okd/" title="{{ _('This dataset satisfies the Open Definition.') }}">
                <img class="open-data" src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="[Open Data]" />
            </a>
          {% endif %}
        {% endblock %}
      </p>
    {% endblock %}
  </section>

{% endblock %}



