{% ckan_extends %}

{% if g.search_background %}
  {% set background = g.search_background %}
{% else %}
  {% set background = '/base/images/bg-banner.jpg' %}
{% endif %}

{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    <div id="content" class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
    <div role="main" class="hero" style="background-image: url('{{ background }}')">
        <div class="container">
          <div class="row row1">
            <div class="col-md-6 col1">
              {% block promoted %}
                {% snippet 'home/snippets/promoted.html' %}
              {% endblock %}
            </div>
            <div class="col-md-6 col2">
              {% block search %}
                {% snippet 'home/snippets/search.html' %}
              {% endblock %}
              {% if g.homepage_style=='2' %}
                {% block stats %}
                  {% snippet 'home/snippets/stats.html' %}
                {% endblock %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div role="main">
        <div class="container">
          <div class="row row2">
            {% block featured_group %}
              {% set stats = h.get_site_statistics() %}
              {% snippet 'home/snippets/groups.html', stats=stats %}
            {% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
  