{% if g.search_background %}
  {% set background = g.search_background %}
{% else %}
  {% set background = '/base/images/bg-banner.jpg' %}
{% endif %}

<style>
  .homepage .stats ul li {
    float: center;
    width: 33%;
}
</style>
<div role="main" class="hero" style="background-image: url('{{ background }}')">
    <div class="container">
        <div class="row row1">
          <div class="col-md-6 col1">
            {% block promoted %}
              {% snippet 'home/snippets/promoted.html' %}
            {% endblock %}
          </div>
          <div class="col-md-6 col2" style="position: unset;">
            {% block search %}
              {% snippet 'home/snippets/search.html' %}
            {% endblock %}
            <br />
            {% block stats %}
              {% snippet 'home/snippets/stats.html' %}
            {% endblock %}
          </div>
        </div>
      </div>
</div>
<div role="main">
  <div class="container">
    <div class="row row2">
      {% block featured_group %}
        {% set catalog_org_type = h.thai_gdc_get_catalog_org_type() %}
        {% set category_dict = h.scheming_group_schemas() %}
        {% if catalog_org_type == 'area_based' %}
        <style>
          .imgCategory {
          width: 72px;
          padding-top: 13px;
          vertical-align: middle;
      }
      </style>
      <h1>กลุ่มชุดข้อมูล (Categories)</h1>
      <div class="col-md-12 col-xs-12 col-sm-12 block_group mrT15">
          {% for category in category_dict.keys()|sort %}
          <div class="col-md-2 col-sm-2 col-xs-12 contentCategoryType">
            <div class="text-center">
                <div style="height: 90px;">
                    <a href="/{{category}}">
                        <img class="imgCategory" src="{{category_dict[category]['group_image_url']}}" alt="{{category_dict[category]['group_title']}}">
                    </a>
                </div>
                <div class="mrT15">
                    <a href="/{{category}}" title="{{category_dict[category]['group_title']}}">
                      {{category_dict[category]['group_title']}}
                    </a>
                </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
          {% set stats = h.get_site_statistics() %}
          {% snippet 'home/snippets/groups.html', stats=stats %}
        {% endif %}
      {% endblock %}
    </div>
  </div>
</div>